## Base16 Vice Alt
# Author: Thomas Leon Highbaugh

set $base00 #1b1d24
set $base01 #282b36
set $base02 #2f303d
set $base03 #323643
set $base04 #3f4859
set $base05 #555e70
set $base06 #b2bfd9
set $base07 #f4f4f7
set $base08 #ff3d81
set $base09 #F67544
set $base0A #ffff73
set $base0B #44ffdd
set $base0C #00caff
set $base0D #2fb1d4
set $base0E #8265ff
set $base0F #ff00aa
