## Base16 Pasque
# Author: Gabriel Fontes (https://github.com/Misterio77)

set $base00 #271C3A
set $base01 #100323
set $base02 #3E2D5C
set $base03 #5D5766
set $base04 #BEBCBF
set $base05 #DEDCDF
set $base06 #EDEAEF
set $base07 #BBAADD
set $base08 #A92258
set $base09 #918889
set $base0A #804ead
set $base0B #C6914B
set $base0C #7263AA
set $base0D #8E7DC6
set $base0E #953B9D
set $base0F #59325C
