## Base16 DanQing Light
# Author: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)

set $base00 #fcfefd
set $base01 #ecf6f2
set $base02 #e0f0eF
set $base03 #cad8d2
set $base04 #9da8a3
set $base05 #5a605d
set $base06 #434846
set $base07 #2d302f
set $base08 #F9906F
set $base09 #B38A61
set $base0A #F0C239
set $base0B #8AB361
set $base0C #30DFF3
set $base0D #B0A4E3
set $base0E #CCA4E3
set $base0F #CA6924
