## Base16 Kimber
# Author: Mishka Nguyen (https://github.com/akhsiM)

set $base00 #222222
set $base01 #313131
set $base02 #555D55
set $base03 #644646
set $base04 #5A5A5A
set $base05 #DEDEE7
set $base06 #C3C3B4
set $base07 #FFFFE6
set $base08 #C88C8C
set $base09 #476C88
set $base0A #D8B56D
set $base0B #99C899
set $base0C #78B4B4
set $base0D #537C9C
set $base0E #86CACD
set $base0F #704F4F
