## Base16 Apprentice
# Author: romainl

set $base00 #262626
set $base01 #303030
set $base02 #333333
set $base03 #6C6C6C
set $base04 #787878
set $base05 #BCBCBC
set $base06 #C9C9C9
set $base07 #FFFFFF
set $base08 #5F8787
set $base09 #FF8700
set $base0A #5F8787
set $base0B #87AF87
set $base0C #5F875F
set $base0D #FFFFAF
set $base0E #87AFD7
set $base0F #5F87AF
