# vim:filetype=nu
# base16 (http//github.com/tami5/base16)
# {{scheme-name}} scheme by {{scheme-author}}

let b0 = '#{{base00-hex}}'
let b1 = '#{{base01-hex}}'
let b2 = '#{{base02-hex}}'
let b3 = '#{{base03-hex}}'
let b4 = '#{{base04-hex}}'
let b5 = '#{{base05-hex}}'
let b6 = '#{{base06-hex}}'
let b7 = '#{{base07-hex}}'
let b8 = '#{{base08-hex}}'
let b9 = '#{{base09-hex}}'
let ba = '#{{base0A-hex}}'
let bb = '#{{base0B-hex}}'
let bc = '#{{base0C-hex}}'
let bd = '#{{base0D-hex}}'
let be = '#{{base0E-hex}}'

let base00 =  "#1a1b26"
let base01 =  "#1f2335"
let base02 =  "#292e42"
let base03 =  "#414868"
let base04 =  "#565f89"
let base05 =  "#a9b1d6"
let base06 =  "#c0c0c0"
let base07 =  "#c0caf5"
let base08 =  "#f7768e"
let base09 =  "#ff9e64"
let base0A =  "#e0af68"
let base0B =  "#9ece6a"
let base0C =  "#7dcfff"
let base0D =  "#7aa2f7"
let base0E =  "#bb9af7"
let base0F =  "#db4b4b"


export def ()
