## Base16 Google Light
# Author: Seth Wright (http://sethawright.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#ffffff
text-color=#373b41
border-color=#3971ED

[urgency=low]
background-color=#ffffff
text-color=#FBA922
border-color=#3971ED

[urgency=high]
background-color=#ffffff
text-color=#CC342B
border-color=#3971ED
