## Base16 Atelier Seaside
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#131513
text-color=#8ca68c
border-color=#3d62f5

[urgency=low]
background-color=#131513
text-color=#98981b
border-color=#3d62f5

[urgency=high]
background-color=#131513
text-color=#e6193c
border-color=#3d62f5
