## Base16 Fruit Soda
# Author: jozip
#
# You can use these variables anywhere in the mako configuration file.

background-color=#f1ecf1
text-color=#515151
border-color=#2931df

[urgency=low]
background-color=#f1ecf1
text-color=#f7e203
border-color=#2931df

[urgency=high]
background-color=#f1ecf1
text-color=#fe3e31
border-color=#2931df
