## Base16 Atelier Sulphurpool Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#f5f7ff
text-color=#5e6687
border-color=#3d8fd1

[urgency=low]
background-color=#f5f7ff
text-color=#c08b30
border-color=#3d8fd1

[urgency=high]
background-color=#f5f7ff
text-color=#c94922
border-color=#3d8fd1
