## Base16 PaperColor Light
# Author: Jon Leopard (http://github.com/jonleopard) based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#eeeeee
text-color=#878787
border-color=#d75f00

[urgency=low]
background-color=#eeeeee
text-color=#d70087
border-color=#d75f00

[urgency=high]
background-color=#eeeeee
text-color=#bcbcbc
border-color=#d75f00
