## Base16 Gigavolt
# Author: Aidan Swope (http://github.com/Whillikers)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#202126
text-color=#e9e7e1
border-color=#40bfff

[urgency=low]
background-color=#202126
text-color=#ffdc2d
border-color=#40bfff

[urgency=high]
background-color=#202126
text-color=#ff661a
border-color=#40bfff
