## Base16 Gruvbox dark, medium
# Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#282828
text-color=#d5c4a1
border-color=#83a598

[urgency=low]
background-color=#282828
text-color=#fabd2f
border-color=#83a598

[urgency=high]
background-color=#282828
text-color=#fb4934
border-color=#83a598
