## Base16 Material Vivid
# Author: joshyrobot
#
# You can use these variables anywhere in the mako configuration file.

background-color=#202124
text-color=#80868b
border-color=#2196f3

[urgency=low]
background-color=#202124
text-color=#ffeb3b
border-color=#2196f3

[urgency=high]
background-color=#202124
text-color=#f44336
border-color=#2196f3
