## Base16 Sandcastle
# Author: George Essig (https://github.com/gessig)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#282c34
text-color=#a89984
border-color=#83a598

[urgency=low]
background-color=#282c34
text-color=#a07e3b
border-color=#83a598

[urgency=high]
background-color=#282c34
text-color=#83a598
border-color=#83a598
