## Base16 Black Metal (Marduk)
# Author: metalelf0 (https://github.com/metalelf0)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#000000
text-color=#c1c1c1
border-color=#888888

[urgency=low]
background-color=#000000
text-color=#626b67
border-color=#888888

[urgency=high]
background-color=#000000
text-color=#5f8787
border-color=#888888
