## Base16 Atelier Estuary
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#22221b
text-color=#929181
border-color=#36a166

[urgency=low]
background-color=#22221b
text-color=#a5980d
border-color=#36a166

[urgency=high]
background-color=#22221b
text-color=#ba6236
border-color=#36a166
