## Base16 Spacemacs
# Author: Nasser Alshammari (https://github.com/nashamri/spacemacs-theme)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1f2022
text-color=#a3a3a3
border-color=#4f97d7

[urgency=low]
background-color=#1f2022
text-color=#b1951d
border-color=#4f97d7

[urgency=high]
background-color=#1f2022
text-color=#f2241f
border-color=#4f97d7
