## Base16 Atelier Forest
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1b1918
text-color=#a8a19f
border-color=#407ee7

[urgency=low]
background-color=#1b1918
text-color=#c38418
border-color=#407ee7

[urgency=high]
background-color=#1b1918
text-color=#f22c40
border-color=#407ee7
