## Base16 Synth Midnight Dark
# Author: Michaël Ball (http://github.com/michael-ball/)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#040404
text-color=#DFDBDF
border-color=#03AEFF

[urgency=low]
background-color=#040404
text-color=#DAE84D
border-color=#03AEFF

[urgency=high]
background-color=#040404
text-color=#B53B50
border-color=#03AEFF
