## Base16 Grayscale Light
# Author: Alexandre Gavioli (https://github.com/Alexx2/)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#f7f7f7
text-color=#464646
border-color=#686868

[urgency=low]
background-color=#f7f7f7
text-color=#a0a0a0
border-color=#686868

[urgency=high]
background-color=#f7f7f7
text-color=#7c7c7c
border-color=#686868
