## Base16 Green Screen
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#001100
text-color=#00bb00
border-color=#009900

[urgency=low]
background-color=#001100
text-color=#007700
border-color=#009900

[urgency=high]
background-color=#001100
text-color=#007700
border-color=#009900
