## Base16 iA Light
# Author: iA Inc. (modified by aramisgithub)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#f6f6f6
text-color=#181818
border-color=#48bac2

[urgency=low]
background-color=#f6f6f6
text-color=#c48218
border-color=#48bac2

[urgency=high]
background-color=#f6f6f6
text-color=#9c5a02
border-color=#48bac2
