## Base16 Solarized Dark
# Author: Ethan Schoonover (modified by aramisgithub)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#002b36
text-color=#93a1a1
border-color=#268bd2

[urgency=low]
background-color=#002b36
text-color=#b58900
border-color=#268bd2

[urgency=high]
background-color=#002b36
text-color=#dc322f
border-color=#268bd2
