## Base16 OceanicNext
# Author: https://github.com/voronianski/oceanic-next-color-scheme
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1B2B34
text-color=#C0C5CE
border-color=#6699CC

[urgency=low]
background-color=#1B2B34
text-color=#FAC863
border-color=#6699CC

[urgency=high]
background-color=#1B2B34
text-color=#EC5f67
border-color=#6699CC
