## Base16 Pico
# Author: PICO-8 (http://www.lexaloffle.com/pico-8.php)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#000000
text-color=#5f574f
border-color=#83769c

[urgency=low]
background-color=#000000
text-color=#fff024
border-color=#83769c

[urgency=high]
background-color=#000000
text-color=#ff004d
border-color=#83769c
