## Base16 Nova
# Author: George Essig (https://github.com/gessig), Trevor D. Miller (https://trevordmiller.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#3C4C55
text-color=#C5D4DD
border-color=#83AFE5

[urgency=low]
background-color=#3C4C55
text-color=#A8CE93
border-color=#83AFE5

[urgency=high]
background-color=#3C4C55
text-color=#83AFE5
border-color=#83AFE5
