## Base16 Brush Trees
# Author: Abraham White &lt;abelincoln.white@gmail.com&gt;
#
# You can use these variables anywhere in the mako configuration file.

background-color=#E3EFEF
text-color=#6D828E
border-color=#868cb3

[urgency=low]
background-color=#E3EFEF
text-color=#aab386
border-color=#868cb3

[urgency=high]
background-color=#E3EFEF
text-color=#b38686
border-color=#868cb3
