## Base16 Heetch Dark
# Author: Geoffrey Teale (tealeg@gmail.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#190134
text-color=#BDB6C5
border-color=#BD0152

[urgency=low]
background-color=#190134
text-color=#8F6C97
border-color=#BD0152

[urgency=high]
background-color=#190134
text-color=#27D9D5
border-color=#BD0152
