## Base16 Helios
# Author: Alex Meyer (https://github.com/reyemxela)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1d2021
text-color=#d5d5d5
border-color=#1e8bac

[urgency=low]
background-color=#1d2021
text-color=#f19d1a
border-color=#1e8bac

[urgency=high]
background-color=#1d2021
text-color=#d72638
border-color=#1e8bac
