## Base16 Horizon Dark
# Author: Michaël Ball (http://github.com/michael-ball/)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1C1E26
text-color=#CBCED0
border-color=#DF5273

[urgency=low]
background-color=#1C1E26
text-color=#EFB993
border-color=#DF5273

[urgency=high]
background-color=#1C1E26
text-color=#E93C58
border-color=#DF5273
