## Base16 Snazzy
# Author: Chawye Hsu (https://github.com/h404bi) based on Hyper Snazzy Theme (https://github.com/sindresorhus/hyper-snazzy)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#282a36
text-color=#e2e4e5
border-color=#57c7ff

[urgency=low]
background-color=#282a36
text-color=#f3f99d
border-color=#57c7ff

[urgency=high]
background-color=#282a36
text-color=#ff5c57
border-color=#57c7ff
