## Base16 Atelier Cave
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#19171c
text-color=#8b8792
border-color=#576ddb

[urgency=low]
background-color=#19171c
text-color=#a06e3b
border-color=#576ddb

[urgency=high]
background-color=#19171c
text-color=#be4678
border-color=#576ddb
