## Base16 Circus
# Author: Stephan Boyer (https://github.com/stepchowfun) and Esther Wang (https://github.com/ewang12)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#191919
text-color=#a7a7a7
border-color=#639ee4

[urgency=low]
background-color=#191919
text-color=#c3ba63
border-color=#639ee4

[urgency=high]
background-color=#191919
text-color=#dc657d
border-color=#639ee4
