## Base16 Macintosh
# Author: Rebecca Bettencourt (http://www.kreativekorp.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#000000
text-color=#c0c0c0
border-color=#0000d3

[urgency=low]
background-color=#000000
text-color=#fbf305
border-color=#0000d3

[urgency=high]
background-color=#000000
text-color=#dd0907
border-color=#0000d3
