## Base16 Horizon Light
# Author: Michaël Ball (http://github.com/michael-ball/)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#FDF0ED
text-color=#403C3D
border-color=#26BBD9

[urgency=low]
background-color=#FDF0ED
text-color=#FADAD1
border-color=#26BBD9

[urgency=high]
background-color=#FDF0ED
text-color=#E95678
border-color=#26BBD9
