## Base16 Gruvbox dark, pale
# Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#262626
text-color=#dab997
border-color=#83adad

[urgency=low]
background-color=#262626
text-color=#ffaf00
border-color=#83adad

[urgency=high]
background-color=#262626
text-color=#d75f5f
border-color=#83adad
