## Base16 Gruvbox light, soft
# Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#f2e5bc
text-color=#504945
border-color=#076678

[urgency=low]
background-color=#f2e5bc
text-color=#b57614
border-color=#076678

[urgency=high]
background-color=#f2e5bc
text-color=#9d0006
border-color=#076678
