## Base16 Brewer
# Author: Timothée Poisot (http://github.com/tpoisot)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#0c0d0e
text-color=#b7b8b9
border-color=#3182bd

[urgency=low]
background-color=#0c0d0e
text-color=#dca060
border-color=#3182bd

[urgency=high]
background-color=#0c0d0e
text-color=#e31a1c
border-color=#3182bd
