## Base16 Chalk
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#151515
text-color=#d0d0d0
border-color=#6fc2ef

[urgency=low]
background-color=#151515
text-color=#ddb26f
border-color=#6fc2ef

[urgency=high]
background-color=#151515
text-color=#fb9fb1
border-color=#6fc2ef
