## Base16 XCode Dusk
# Author: Elsa Gonsiorowski (https://github.com/gonsie)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#282B35
text-color=#939599
border-color=#790EAD

[urgency=low]
background-color=#282B35
text-color=#438288
border-color=#790EAD

[urgency=high]
background-color=#282B35
text-color=#B21889
border-color=#790EAD
