## Base16 Classic Dark
# Author: Jason Heeris (http://heeris.id.au)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#151515
text-color=#D0D0D0
border-color=#6A9FB5

[urgency=low]
background-color=#151515
text-color=#F4BF75
border-color=#6A9FB5

[urgency=high]
background-color=#151515
text-color=#AC4142
border-color=#6A9FB5
