## Base16 Zenburn
# Author: elnawe
#
# You can use these variables anywhere in the mako configuration file.

background-color=#383838
text-color=#dcdccc
border-color=#7cb8bb

[urgency=low]
background-color=#383838
text-color=#e0cf9f
border-color=#7cb8bb

[urgency=high]
background-color=#383838
text-color=#dca3a3
border-color=#7cb8bb
