## Base16 Icy Dark
# Author: icyphox (https://icyphox.ga)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#021012
text-color=#095b67
border-color=#00bcd4

[urgency=low]
background-color=#021012
text-color=#80deea
border-color=#00bcd4

[urgency=high]
background-color=#021012
text-color=#16c1d9
border-color=#00bcd4
