## Base16 Unikitty Dark
# Author: Josh W Lewis (@joshwlewis)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#2e2a31
text-color=#bcbabe
border-color=#796af5

[urgency=low]
background-color=#2e2a31
text-color=#dc8a0e
border-color=#796af5

[urgency=high]
background-color=#2e2a31
text-color=#d8137f
border-color=#796af5
