## Base16 Flat
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#2C3E50
text-color=#e0e0e0
border-color=#3498DB

[urgency=low]
background-color=#2C3E50
text-color=#F1C40F
border-color=#3498DB

[urgency=high]
background-color=#2C3E50
text-color=#E74C3C
border-color=#3498DB
