## Base16 Shapeshifter
# Author: Tyler Benziger (http://tybenz.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#f9f9f9
text-color=#102015
border-color=#3b48e3

[urgency=low]
background-color=#f9f9f9
text-color=#dddd13
border-color=#3b48e3

[urgency=high]
background-color=#f9f9f9
text-color=#e92f2f
border-color=#3b48e3
