## Base16 Seti UI
# Author: 
#
# You can use these variables anywhere in the mako configuration file.

background-color=#151718
text-color=#d6d6d6
border-color=#55b5db

[urgency=low]
background-color=#151718
text-color=#e6cd69
border-color=#55b5db

[urgency=high]
background-color=#151718
text-color=#Cd3f45
border-color=#55b5db
