## Base16 Marrakesh
# Author: Alexandre Gavioli (http://github.com/Alexx2/)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#201602
text-color=#948e48
border-color=#477ca1

[urgency=low]
background-color=#201602
text-color=#a88339
border-color=#477ca1

[urgency=high]
background-color=#201602
text-color=#c35359
border-color=#477ca1
