## Base16 Edge Light
# Author: cjayross (https://github.com/cjayross)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#fafafa
text-color=#5e646f
border-color=#6587bf

[urgency=low]
background-color=#fafafa
text-color=#d69822
border-color=#6587bf

[urgency=high]
background-color=#fafafa
text-color=#db7070
border-color=#6587bf
