## Base16 Darktooth
# Author: Jason Milkins (https://github.com/jasonm23)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1D2021
text-color=#A89984
border-color=#0D6678

[urgency=low]
background-color=#1D2021
text-color=#FAC03B
border-color=#0D6678

[urgency=high]
background-color=#1D2021
text-color=#FB543F
border-color=#0D6678
