## Base16 PaperColor Dark
# Author: Jon Leopard (http://github.com/jonleopard) based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1c1c1c
text-color=#808080
border-color=#ff5faf

[urgency=low]
background-color=#1c1c1c
text-color=#afd700
border-color=#ff5faf

[urgency=high]
background-color=#1c1c1c
text-color=#585858
border-color=#ff5faf
