## Base16 Codeschool
# Author: blockloop
#
# You can use these variables anywhere in the mako configuration file.

background-color=#232c31
text-color=#9ea7a6
border-color=#484d79

[urgency=low]
background-color=#232c31
text-color=#a03b1e
border-color=#484d79

[urgency=high]
background-color=#232c31
text-color=#2a5491
border-color=#484d79
