## Base16 Atelier Heath
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1b181b
text-color=#ab9bab
border-color=#516aec

[urgency=low]
background-color=#1b181b
text-color=#bb8a35
border-color=#516aec

[urgency=high]
background-color=#1b181b
text-color=#ca402b
border-color=#516aec
