## Base16 Materia
# Author: Defman21
#
# You can use these variables anywhere in the mako configuration file.

background-color=#263238
text-color=#CDD3DE
border-color=#89DDFF

[urgency=low]
background-color=#263238
text-color=#FFCC00
border-color=#89DDFF

[urgency=high]
background-color=#263238
text-color=#EC5F67
border-color=#89DDFF
