## Base16 3024
# Author: Jan T. Sott (http://github.com/idleberg)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#090300
text-color=#a5a2a2
border-color=#01a0e4

[urgency=low]
background-color=#090300
text-color=#fded02
border-color=#01a0e4

[urgency=high]
background-color=#090300
text-color=#db2d20
border-color=#01a0e4
