## Base16 iA Dark
# Author: iA Inc. (modified by aramisgithub)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1a1a1a
text-color=#cccccc
border-color=#8eccdd

[urgency=low]
background-color=#1a1a1a
text-color=#b99353
border-color=#8eccdd

[urgency=high]
background-color=#1a1a1a
text-color=#d88568
border-color=#8eccdd
