## Base16 Railscasts
# Author: Ryan Bates (http://railscasts.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#2b2b2b
text-color=#e6e1dc
border-color=#6d9cbe

[urgency=low]
background-color=#2b2b2b
text-color=#ffc66d
border-color=#6d9cbe

[urgency=high]
background-color=#2b2b2b
text-color=#da4939
border-color=#6d9cbe
