## Base16 Atelier Dune
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#20201d
text-color=#a6a28c
border-color=#6684e1

[urgency=low]
background-color=#20201d
text-color=#ae9513
border-color=#6684e1

[urgency=high]
background-color=#20201d
text-color=#d73737
border-color=#6684e1
