## Base16 Tomorrow Night
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#2d2d2d
text-color=#cccccc
border-color=#6699cc

[urgency=low]
background-color=#2d2d2d
text-color=#ffcc66
border-color=#6699cc

[urgency=high]
background-color=#2d2d2d
text-color=#f2777a
border-color=#6699cc
