## Base16 Bespin
# Author: Jan T. Sott
#
# You can use these variables anywhere in the mako configuration file.

background-color=#28211c
text-color=#8a8986
border-color=#5ea6ea

[urgency=low]
background-color=#28211c
text-color=#f9ee98
border-color=#5ea6ea

[urgency=high]
background-color=#28211c
text-color=#cf6a4c
border-color=#5ea6ea
