## Base16 Isotope
# Author: Jan T. Sott
#
# You can use these variables anywhere in the mako configuration file.

background-color=#000000
text-color=#d0d0d0
border-color=#0066ff

[urgency=low]
background-color=#000000
text-color=#ff0099
border-color=#0066ff

[urgency=high]
background-color=#000000
text-color=#ff0000
border-color=#0066ff
