## Base16 Mellow Purple
# Author: gidsi
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1e0528
text-color=#ffeeff
border-color=#550068

[urgency=low]
background-color=#1e0528
text-color=#955ae7
border-color=#550068

[urgency=high]
background-color=#1e0528
text-color=#00d9e9
border-color=#550068
