## Base16 Cupertino
# Author: Defman21
#
# You can use these variables anywhere in the mako configuration file.

background-color=#ffffff
text-color=#404040
border-color=#0000ff

[urgency=low]
background-color=#ffffff
text-color=#826b28
border-color=#0000ff

[urgency=high]
background-color=#ffffff
text-color=#c41a15
border-color=#0000ff
