## Base16 Mexico Light
# Author: Sheldon Johnson
#
# You can use these variables anywhere in the mako configuration file.

background-color=#f8f8f8
text-color=#383838
border-color=#7cafc2

[urgency=low]
background-color=#f8f8f8
text-color=#f79a0e
border-color=#7cafc2

[urgency=high]
background-color=#f8f8f8
text-color=#ab4642
border-color=#7cafc2
