## Base16 IR Black
# Author: Timothée Poisot (http://timotheepoisot.fr)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#000000
text-color=#b5b3aa
border-color=#96cbfe

[urgency=low]
background-color=#000000
text-color=#ffffb6
border-color=#96cbfe

[urgency=high]
background-color=#000000
text-color=#ff6c60
border-color=#96cbfe
