## Base16 Material Lighter
# Author: Nate Peterson
#
# You can use these variables anywhere in the mako configuration file.

background-color=#FAFAFA
text-color=#80CBC4
border-color=#6182B8

[urgency=low]
background-color=#FAFAFA
text-color=#FFB62C
border-color=#6182B8

[urgency=high]
background-color=#FAFAFA
text-color=#FF5370
border-color=#6182B8
