## Base16 Atelier Plateau
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1b1818
text-color=#8a8585
border-color=#7272ca

[urgency=low]
background-color=#1b1818
text-color=#a06e3b
border-color=#7272ca

[urgency=high]
background-color=#1b1818
text-color=#ca4949
border-color=#7272ca
