## Base16 Brush Trees Dark
# Author: Abraham White &lt;abelincoln.white@gmail.com&gt;
#
# You can use these variables anywhere in the mako configuration file.

background-color=#485867
text-color=#B0C5C8
border-color=#868cb3

[urgency=low]
background-color=#485867
text-color=#aab386
border-color=#868cb3

[urgency=high]
background-color=#485867
text-color=#b38686
border-color=#868cb3
