## Base16 Monokai
# Author: Wimer Hazenberg (http://www.monokai.nl)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#272822
text-color=#f8f8f2
border-color=#66d9ef

[urgency=low]
background-color=#272822
text-color=#f4bf75
border-color=#66d9ef

[urgency=high]
background-color=#272822
text-color=#f92672
border-color=#66d9ef
