## Base16 Solar Flare
# Author: Chuck Harmston (https://chuck.harmston.ch)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#18262F
text-color=#A6AFB8
border-color=#33B5E1

[urgency=low]
background-color=#18262F
text-color=#E4B51C
border-color=#33B5E1

[urgency=high]
background-color=#18262F
text-color=#EF5253
border-color=#33B5E1
