## Base16 Outrun Dark
# Author: Hugo Delahousse (http://github.com/hugodelahousse/)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#00002A
text-color=#D0D0FA
border-color=#66B0FF

[urgency=low]
background-color=#00002A
text-color=#F3E877
border-color=#66B0FF

[urgency=high]
background-color=#00002A
text-color=#FF4242
border-color=#66B0FF
