## Base16 Horizon Light
# Author: Michaël Ball (http://github.com/michael-ball/)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#FDF0ED
text-color=#403C3D
border-color=#DA103F

[urgency=low]
background-color=#FDF0ED
text-color=#FBE0D9
border-color=#DA103F

[urgency=high]
background-color=#FDF0ED
text-color=#F7939B
border-color=#DA103F
