## Base16 Atelier Dune Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#fefbec
text-color=#6e6b5e
border-color=#6684e1

[urgency=low]
background-color=#fefbec
text-color=#ae9513
border-color=#6684e1

[urgency=high]
background-color=#fefbec
text-color=#d73737
border-color=#6684e1
