## Base16 Material Darker
# Author: Nate Peterson
#
# You can use these variables anywhere in the mako configuration file.

background-color=#212121
text-color=#EEFFFF
border-color=#82AAFF

[urgency=low]
background-color=#212121
text-color=#FFCB6B
border-color=#82AAFF

[urgency=high]
background-color=#212121
text-color=#F07178
border-color=#82AAFF
