## Base16 Ocean
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#2b303b
text-color=#c0c5ce
border-color=#8fa1b3

[urgency=low]
background-color=#2b303b
text-color=#ebcb8b
border-color=#8fa1b3

[urgency=high]
background-color=#2b303b
text-color=#bf616a
border-color=#8fa1b3
