## Base16 Solarized Light
# Author: Ethan Schoonover (modified by aramisgithub)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#fdf6e3
text-color=#586e75
border-color=#268bd2

[urgency=low]
background-color=#fdf6e3
text-color=#b58900
border-color=#268bd2

[urgency=high]
background-color=#fdf6e3
text-color=#dc322f
border-color=#268bd2
