## Base16 London Tube
# Author: Jan T. Sott
#
# You can use these variables anywhere in the mako configuration file.

background-color=#231f20
text-color=#d9d8d8
border-color=#009ddc

[urgency=low]
background-color=#231f20
text-color=#ffd204
border-color=#009ddc

[urgency=high]
background-color=#231f20
text-color=#ee2e24
border-color=#009ddc
