## Base16 Rebecca
# Author: Victor Borja (http://github.com/vic) based on Rebecca Theme (http://github.com/vic/rebecca-theme)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#292a44
text-color=#f1eff8
border-color=#2de0a7

[urgency=low]
background-color=#292a44
text-color=#ae81ff
border-color=#2de0a7

[urgency=high]
background-color=#292a44
text-color=#a0a0c5
border-color=#2de0a7
