## Base16 One Light
# Author: Daniel Pfeifer (http://github.com/purpleKarrot)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#fafafa
text-color=#383a42
border-color=#4078f2

[urgency=low]
background-color=#fafafa
text-color=#c18401
border-color=#4078f2

[urgency=high]
background-color=#fafafa
text-color=#ca1243
border-color=#4078f2
