## Base16 Nord
# Author: arcticicestudio
#
# You can use these variables anywhere in the mako configuration file.

background-color=#2E3440
text-color=#E5E9F0
border-color=#EBCB8B

[urgency=low]
background-color=#2E3440
text-color=#5E81AC
border-color=#EBCB8B

[urgency=high]
background-color=#2E3440
text-color=#88C0D0
border-color=#EBCB8B
