## Base16 Bright
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#000000
text-color=#e0e0e0
border-color=#6fb3d2

[urgency=low]
background-color=#000000
text-color=#fda331
border-color=#6fb3d2

[urgency=high]
background-color=#000000
text-color=#fb0120
border-color=#6fb3d2
