## Base16 Atelier Seaside Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#f4fbf4
text-color=#5e6e5e
border-color=#3d62f5

[urgency=low]
background-color=#f4fbf4
text-color=#98981b
border-color=#3d62f5

[urgency=high]
background-color=#f4fbf4
text-color=#e6193c
border-color=#3d62f5
