## Base16 Twilight
# Author: David Hart (https://github.com/hartbit)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1e1e1e
text-color=#a7a7a7
border-color=#7587a6

[urgency=low]
background-color=#1e1e1e
text-color=#f9ee98
border-color=#7587a6

[urgency=high]
background-color=#1e1e1e
text-color=#cf6a4c
border-color=#7587a6
