## Base16 Framer
# Author: Framer (Maintained by Jesse Hoyos)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#181818
text-color=#D0D0D0
border-color=#20BCFC

[urgency=low]
background-color=#181818
text-color=#FECB6E
border-color=#20BCFC

[urgency=high]
background-color=#181818
text-color=#FD886B
border-color=#20BCFC
