## Base16 Github
# Author: Defman21
#
# You can use these variables anywhere in the mako configuration file.

background-color=#ffffff
text-color=#333333
border-color=#795da3

[urgency=low]
background-color=#ffffff
text-color=#795da3
border-color=#795da3

[urgency=high]
background-color=#ffffff
text-color=#ed6a43
border-color=#795da3
