## Base16 Paraiso
# Author: Jan T. Sott
#
# You can use these variables anywhere in the mako configuration file.

background-color=#2f1e2e
text-color=#a39e9b
border-color=#06b6ef

[urgency=low]
background-color=#2f1e2e
text-color=#fec418
border-color=#06b6ef

[urgency=high]
background-color=#2f1e2e
text-color=#ef6155
border-color=#06b6ef
