## Base16 Google Dark
# Author: Seth Wright (http://sethawright.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1d1f21
text-color=#c5c8c6
border-color=#3971ED

[urgency=low]
background-color=#1d1f21
text-color=#FBA922
border-color=#3971ED

[urgency=high]
background-color=#1d1f21
text-color=#CC342B
border-color=#3971ED
