## Base16 Default Light
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#f8f8f8
text-color=#383838
border-color=#7cafc2

[urgency=low]
background-color=#f8f8f8
text-color=#f7ca88
border-color=#7cafc2

[urgency=high]
background-color=#f8f8f8
text-color=#ab4642
border-color=#7cafc2
