## Base16 Woodland
# Author: Jay Cornwall (https://jcornwall.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#231e18
text-color=#cabcb1
border-color=#88a4d3

[urgency=low]
background-color=#231e18
text-color=#e0ac16
border-color=#88a4d3

[urgency=high]
background-color=#231e18
text-color=#d35c5c
border-color=#88a4d3
