## Base16 Atelier Plateau Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#f4ecec
text-color=#585050
border-color=#7272ca

[urgency=low]
background-color=#f4ecec
text-color=#a06e3b
border-color=#7272ca

[urgency=high]
background-color=#f4ecec
text-color=#ca4949
border-color=#7272ca
