## Base16 Unikitty Light
# Author: Josh W Lewis (@joshwlewis)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#ffffff
text-color=#6c696e
border-color=#775dff

[urgency=low]
background-color=#ffffff
text-color=#dc8a0e
border-color=#775dff

[urgency=high]
background-color=#ffffff
text-color=#d8137f
border-color=#775dff
