## Base16 Default Dark
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#181818
text-color=#d8d8d8
border-color=#7cafc2

[urgency=low]
background-color=#181818
text-color=#f7ca88
border-color=#7cafc2

[urgency=high]
background-color=#181818
text-color=#ab4642
border-color=#7cafc2
