## Base16 Atelier Savanna
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#171c19
text-color=#87928a
border-color=#478c90

[urgency=low]
background-color=#171c19
text-color=#a07e3b
border-color=#478c90

[urgency=high]
background-color=#171c19
text-color=#b16139
border-color=#478c90
