## Base16 Hardcore
# Author: Chris Caller
#
# You can use these variables anywhere in the mako configuration file.

background-color=#212121
text-color=#cdcdcd
border-color=#66d9ef

[urgency=low]
background-color=#212121
text-color=#e6db74
border-color=#66d9ef

[urgency=high]
background-color=#212121
text-color=#f92672
border-color=#66d9ef
