## Base16 Atelier Heath Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#f7f3f7
text-color=#695d69
border-color=#516aec

[urgency=low]
background-color=#f7f3f7
text-color=#bb8a35
border-color=#516aec

[urgency=high]
background-color=#f7f3f7
text-color=#ca402b
border-color=#516aec
