## Base16 Hopscotch
# Author: Jan T. Sott
#
# You can use these variables anywhere in the mako configuration file.

background-color=#322931
text-color=#b9b5b8
border-color=#1290bf

[urgency=low]
background-color=#322931
text-color=#fdcc59
border-color=#1290bf

[urgency=high]
background-color=#322931
text-color=#dd464c
border-color=#1290bf
