## Base16 Material Palenight
# Author: Nate Peterson
#
# You can use these variables anywhere in the mako configuration file.

background-color=#292D3E
text-color=#959DCB
border-color=#82AAFF

[urgency=low]
background-color=#292D3E
text-color=#FFCB6B
border-color=#82AAFF

[urgency=high]
background-color=#292D3E
text-color=#F07178
border-color=#82AAFF
