## Base16 Tomorrow Night
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1d1f21
text-color=#c5c8c6
border-color=#81a2be

[urgency=low]
background-color=#1d1f21
text-color=#f0c674
border-color=#81a2be

[urgency=high]
background-color=#1d1f21
text-color=#cc6666
border-color=#81a2be
