## Base16 Tomorrow
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#ffffff
text-color=#4d4d4c
border-color=#4271ae

[urgency=low]
background-color=#ffffff
text-color=#eab700
border-color=#4271ae

[urgency=high]
background-color=#ffffff
text-color=#c82829
border-color=#4271ae
