## Base16 Atelier Savanna Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#ecf4ee
text-color=#526057
border-color=#478c90

[urgency=low]
background-color=#ecf4ee
text-color=#a07e3b
border-color=#478c90

[urgency=high]
background-color=#ecf4ee
text-color=#b16139
border-color=#478c90
