/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Decaf scheme by Alex Mirrington (https://github.com/alexmirrington) */

window {
	background-color: #2d2d2d;
	color: #cccccc;
}

#entry:nth-child(odd) {
	background-color: #2d2d2d;
}

#entry:nth-child(even) {
	background-color: #393939;
}

#entry:selected {
	background-color: #515151;
}

#input {
	background-color: #393939;
	color: #b4b7b4;
	border-color: #515151; 
}

#input:focus {
	border-color: #ffd67c; 
}
