/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Equilibrium Gray Dark scheme by Carlo Abelli */

window {
	background-color: #111111;
	color: #ababab;
}

#entry:nth-child(odd) {
	background-color: #111111;
}

#entry:nth-child(even) {
	background-color: #1b1b1b;
}

#entry:selected {
	background-color: #262626;
}

#input {
	background-color: #1b1b1b;
	color: #919191;
	border-color: #262626; 
}

#input:focus {
	border-color: #bb8801; 
}
