/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Atelier Plateau Light scheme by Bram de Haan (http://atelierbramdehaan.nl) */

window {
	background-color: #f4ecec;
	color: #585050;
}

#entry:nth-child(odd) {
	background-color: #f4ecec;
}

#entry:nth-child(even) {
	background-color: #e7dfdf;
}

#entry:selected {
	background-color: #8a8585;
}

#input {
	background-color: #e7dfdf;
	color: #655d5d;
	border-color: #8a8585; 
}

#input:focus {
	border-color: #a06e3b; 
}
