/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Ocean scheme by Chris Kempson (http://chriskempson.com) */

window {
	background-color: #2b303b;
	color: #c0c5ce;
}

#entry:nth-child(odd) {
	background-color: #2b303b;
}

#entry:nth-child(even) {
	background-color: #343d46;
}

#entry:selected {
	background-color: #4f5b66;
}

#input {
	background-color: #343d46;
	color: #a7adba;
	border-color: #4f5b66; 
}

#input:focus {
	border-color: #ebcb8b; 
}
