/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Bright scheme by Chris Kempson (http://chriskempson.com) */

window {
	background-color: #000000;
	color: #e0e0e0;
}

#entry:nth-child(odd) {
	background-color: #000000;
}

#entry:nth-child(even) {
	background-color: #303030;
}

#entry:selected {
	background-color: #505050;
}

#input {
	background-color: #303030;
	color: #d0d0d0;
	border-color: #505050; 
}

#input:focus {
	border-color: #fda331; 
}
