/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Summerfruit Light scheme by Christopher Corley (http://christop.club/) */

window {
	background-color: #FFFFFF;
	color: #101010;
}

#entry:nth-child(odd) {
	background-color: #FFFFFF;
}

#entry:nth-child(even) {
	background-color: #E0E0E0;
}

#entry:selected {
	background-color: #D0D0D0;
}

#input {
	background-color: #E0E0E0;
	color: #000000;
	border-color: #D0D0D0; 
}

#input:focus {
	border-color: #ABA800; 
}
