/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Material Darker scheme by Nate Peterson */

window {
	background-color: #212121;
	color: #EEFFFF;
}

#entry:nth-child(odd) {
	background-color: #212121;
}

#entry:nth-child(even) {
	background-color: #303030;
}

#entry:selected {
	background-color: #353535;
}

#input {
	background-color: #303030;
	color: #B2CCD6;
	border-color: #353535; 
}

#input:focus {
	border-color: #FFCB6B; 
}
