/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Monokai scheme by Wimer Hazenberg (http://www.monokai.nl) */

window {
	background-color: #272822;
	color: #f8f8f2;
}

#entry:nth-child(odd) {
	background-color: #272822;
}

#entry:nth-child(even) {
	background-color: #383830;
}

#entry:selected {
	background-color: #49483e;
}

#input {
	background-color: #383830;
	color: #a59f85;
	border-color: #49483e; 
}

#input:focus {
	border-color: #f4bf75; 
}
