/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Eighties scheme by Chris Kempson (http://chriskempson.com) */

window {
	background-color: #2d2d2d;
	color: #d3d0c8;
}

#entry:nth-child(odd) {
	background-color: #2d2d2d;
}

#entry:nth-child(even) {
	background-color: #393939;
}

#entry:selected {
	background-color: #515151;
}

#input {
	background-color: #393939;
	color: #a09f93;
	border-color: #515151; 
}

#input:focus {
	border-color: #ffcc66; 
}
