/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Gruvbox light, medium scheme by Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox) */

window {
	background-color: #fbf1c7;
	color: #504945;
}

#entry:nth-child(odd) {
	background-color: #fbf1c7;
}

#entry:nth-child(even) {
	background-color: #ebdbb2;
}

#entry:selected {
	background-color: #d5c4a1;
}

#input {
	background-color: #ebdbb2;
	color: #665c54;
	border-color: #d5c4a1; 
}

#input:focus {
	border-color: #b57614; 
}
